@import "tailwindcss";
:root {
  --primary: #120901;
  --secondary: #aa340d;
}
html,
body {
  scroll-behavior: smooth;
  scrollbar-width: 0px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Futura", sans-serif;
  font-weight: 700;
}
p {
  font-family: "Gill Sans", sans-serif;
  font-weight: 400;
}
::-webkit-scrollbar {
  display: none;
}
.bg-custom-primary {
  background-color: var(--primary);
}

:root {
  --primary: #120901;
  --border: #aa340d;
}

.bg-custom-primary {
  background-color: var(--primary);
}
.text-custom-primary {
  color: var(--primary);
}
.text-custom-secondary {
  color: var(--secondary);
}
.bg-custom-secondary {
  background-color: var(--secondary);
}
.custom-border {
  color: var(--border);
}
.gallery_section {
  background-image: url("/images/gallery_banner.png");
}
