@import "tailwindcss";
:root {
  --primary: #120901;
  --secondary: #aa340d;
  --font-paragraph: "Gill Sans", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-heading: "Futura", sans-serif;
}
html,
body {
  scroll-behavior: smooth;
  scrollbar-width: 0px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: 500;
  letter-spacing: 1.3px;
}
button {
  font-family: var(--font-heading);
  font-weight: 500;
  height: 40px;
  font-size: 18px;
  cursor: pointer;
}
.custom-hover-bg-opacity:hover {
  background-color: rgba(170, 52, 13, 0.75); /* #aa340d with 75% opacity */
}
p {
  font-family: var(--font-paragraph);
  font-weight: 300;
  word-spacing: 3px;
  letter-spacing: normal;
  font-size: 20px;
}

::-webkit-scrollbar {
  display: none;
}
.bg-custom-primary {
  background-color: var(--primary);
}

:root {
  --primary: #120901;
  --border: #aa340d;
}

.bg-custom-primary {
  background-color: var(--primary);
}
.text-custom-primary {
  color: var(--primary);
}
.text-custom-secondary {
  color: var(--secondary);
}
.bg-custom-secondary {
  background-color: var(--secondary);
}
.custom-border {
  color: var(--border);
}
.gallery_section {
  background-image: url("/images/gallery_banner.png");
}
